@import 'uti.css';
:root{
--primary:#3DCFD3;
--dark:#161616;
--pure:#FFFFFF;
--ternary : #898989;
--light:#F2F2F

}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
body{
    background-color: var(--light);
    font-family: poopins,sans-serif;
}

header{
    background-color:var(--dark);
    clip-path: polygon(0 0, 100% 0 ,100% 100% ,70% 90%,0 100%); /*corrdinat in x,y. we have to give 5 point*/

}

.cantainer{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: #3DCFD3;
}

header nav{
    padding: 0.75rem 0;
}
 header nav .branding{
     margin-right: 3rem;
 }

 .hero{
     padding: 0 0 ; /*padding (top bottom) (left right) */
 }
.hero .left{
   
}
.hero .right{
    color: var(--pure);
    margin-top: -3rem;  /*-value grab up*/
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0.5rem;
}
.hero.right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2 ;
    margin-bottom: rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section{
    padding: 6rem 6rem ;
}

section.About .about-me-img{
    height: 400px;
}
section.About h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight: 400px;
}
section.About h1 span{
    color: var(--primary);
}
section.About h3 span{
    font-size: 1rem;
    margin-bottom: 1rem;
    
}
section.About p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.About .social{
    display: flex;
}
section.About .social a{
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;

}
section.About .social a:hover{
    background-color: var(--primary);

}


section.About .social  a img{
    width: 35px;
    height: 100%;
    padding: 0.5 rem;
    
}